body {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.navbar{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    

}
.bg-light{
    background:linear-gradient(#ff410c,#ff4b2b)!important;
}

.nav-item a:hover { color:lightgrey !important; }
.navbar-light .navbar-nav .nav-link{
    color: white;
}

@media screen and (min-width:1000px){
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    transform: translateX(-25px);
}
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
.navbar-brand{
    margin-right: 0rem;
}

@media screen and (max-width:1000px){
    .navbar-nav {
        float:none;
        margin:0 auto;
        display: flex;
        text-align: center;
    }

}
